.buttons {
  margin-top: 1.8rem;
  width: 100%;
  display: flex;
  padding: 0 8%;
}
.buttons button {
  font-size: 14px;
  width: 50%;
  border: none;
  background-color: inherit;
  border-bottom: 2px #93939347 solid;
}

.buttons .active {
  border-color: #9b241b;
  font-weight: 700;
}

.ul_container {
  width: 100%;
  padding: 8%;
  font-size: 14px;
}
.ul_container ul {
  padding: 0;
  list-style: none;
}
.ul_container li {
  width: 100%;
  margin-bottom: 8px;
}
.ul_container .step_li {
  display: flex;
  margin-bottom: 1.5rem;
}
.step_li p:first-child {
  margin-right: 8px;
}

.step_li span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}
