.background {
  min-height: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  overflow: hidden;
}

.text-white {
  color: white;
}
.container-cover {
  width: 100vw;
  height: 100vh;
}
.container-sm {
  padding-left: 0;
  padding-right: 0;
}

.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
}
.mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.mask-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.mask-content-top {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.mask-content-btn {
  padding: 0 30px;
}

.mw-1 {
  max-width: 400px;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.visibility {
  visibility: hidden;
}
.btn-gradient {
  background: linear-gradient(
    91.15deg,
    #fa7a70 0%,
    #cb3125 0.01%,
    #9b241b 99.8%
  );
  -webkit-box-shadow: -2px 2px 8px 1px #eb928b;
  box-shadow: -2px 2px 8px 1px #eb928b;
  border: 2px solid rgba(235, 146, 139, 0.47);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
}
.rounded-30 {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
.bg-100vh {
  height: 100vh;
}
#layout {
  display: flex;
}

@media (min-width: 768px) {
  #layout {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: -2px 6px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 20px -4px rgba(0, 0, 0, 0.75);
    margin-top: 4rem;
  }
  .md-bg-clear {
    background-image: none !important;
    background: transparent;
  }

  .background,
  .mask-content {
    min-height: 380px;
    height: 380px;
  }
}
