.background {
    min-height: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    overflow: hidden;
}

.text-white {
    color: white;
}

.container-sm {
    padding-left: 0;
    padding-right: 0;
}

.mask-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.mask-content-top {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.mask-content-btn {
    padding: 0 30px;
}

.mw-1 {
    max-width: 400px;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.visibility {
   visibility: hidden;
}

.btn-gradient{ 
    background: linear-gradient(91.15deg, #FA7A70 0%, #CB3125 0.01%, #9B241B 99.8%);
    -webkit-box-shadow: -2px 2px 8px 1px #EB928B; 
    box-shadow: 0px 5px 8px 3px rgb(221 34 19 / 40%);
    border: 2px solid rgba(235, 146, 139, 0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
}

.btn-outline-light {
    --bs-btn-hover-bg: transparent;
}

.btn:first-child:active {
    --bs-btn-active-bg: rgba(235, 146, 139, 0.47);
    --bs-btn-active-color: rgba(255, 255, 255, 0.5);
    background:rgba(235, 146, 139, 0.47);
}

.rounded-30 {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.bg-100vh {
height: 100vh;
}

.mask-content-top .logo-container .logo-dark{
    display: none;
}

.mask-content-top .logo-container .logo{
    display: block;
}

#background-large {
    display: none;
}

@media only screen and (min-width: 767px) {
    button[type="submit"].btn-outline-light {
        color: #070707;
        border-color: #070707;
    }

    /* #back-btn-mobile {
        display: none;
    } */

    #layout, #container {
        display: flex;
    }

    #background-large {
        display: block;
    }

    #background-large, #background {
        height: 100vh;
    }

    #background, #container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #container {
        width: 100%;
        flex-direction: column;
        height: 100vh;
    }

    .md-bg-clear {
        background-image: none!important;
        background: transparent;
    }

    .background, .mask-content {
        min-height: 380px;
        height: 380px;
    }

    .mask-content-top .logo-container .logo{
        display: none;
    }

    .mask-content-top .logo-container .logo-dark{
        display: block;
    }

    .mask-content {
        width: 100%;
        height: 100%;
    }

}
