.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 1.5rem 1rem;
}

.title {
  font-size: 22px;
  font-family: lexend-bold;
}

.subTitle {
  font-size: 14px;
  margin: 1rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_header {
  width: 100%;
  max-width: 450px;
}

.link {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 20px;
  font-family: lexend-bold;
  color: white;
  text-decoration: none;
  background: linear-gradient(
    91.15deg,
    #fa7a70 0%,
    #cb3125 0.01%,
    #9b241b 99.8%
  );
  box-shadow: 0px 2px 10px #9b241b;
}

.link:hover {
  opacity: 0.9;
  color: white !important;
}

.section_container {
  min-height: 290px;
  width: 100%;
  margin: 2rem 0;
}

.recipe_day {
  width: 330px;
  height: 320px;
  margin: 0 auto;
}
