.modal-footer {
    flex-wrap: nowrap;
}
.modal-content {
    height: 100vh;
}
.form-check-input {
    width: 1.2em;
    height: 1.2em;
}
.form-check {
    margin-bottom: 0.5rem;
;
}
.form-control {
    border-left: none;
    border-radius:1.5rem;
}
.backgroundWhite:focus {
    background-color: white!important;
}
.input-group-text {
    background-color: white;
    border-radius: 1.5rem; 
}
.btnGgradient{ 
    background: linear-gradient(91.15deg, #FA7A70 0%, #CB3125 0.01%, #9B241B 99.8%);
    -webkit-box-shadow: -2px 2px 8px 1px #EB928B; 
    box-shadow: -2px 2px 8px 1px #EB928B;
    border: 2px solid rgba(235, 146, 139, 0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
}
.btn-outline-light {
    --bs-btn-hover-bg: transparent;
}

.text-black {
    color:black!important;
}
.modal-footer {
justify-content: center;
}





