* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: lexend-regular;
  min-width: 350px;
}

@font-face {
  font-family: "lexend-regular";
  src: url("./fonts/Lexend-Regular.ttf");
}

@font-face {
  font-family: "lexend-bold";
  src: url("./fonts/Lexend-Bold.ttf");
}

.swal2-actions {
  width: 80% !important;
}

.create-alert_btn {
  display: block !important;
  min-width: 100%;

  background: linear-gradient(
    91.15deg,
    #fa7a70 0%,
    #cb3125 0.01%,
    #9b241b 99.8%
  ) !important;
}
